<h1 class="my-h1"><%= gettext "Edit Auction" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.auction_path(@conn, :update, @auction)) %>

<span><%= link "Back", to: Routes.auction_path(@conn, :index) %></span>
