<h1>Browser Statistics</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= gettext "Browser" %></th>
      <th><%= gettext "Number of Visits" %></th>

      
    </tr>
  </thead>
  <tbody>
<%= for entry <- @data do %>
    <tr>
      <td><%= Enum.at(entry, 0) %></td>
      <td><%= Enum.at(entry, 1) %></td>
     

     
    </tr>
<% end %>
  </tbody>
</table>