<h1 class="my-h1"><%= gettext "New Item" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.item_path(@conn, :confirmNewI, @id)) %>

<span><%= link "Back", to: Routes.auction_path(@conn, :show, @id) %></span>
